@page "/"

@inject HttpClient http
@inject IJSRuntime jsRuntime
@*allows call of JS functions*@

<PageTitle>IP Geolocation</PageTitle>

<h1 class="text-center mt-5 mb-4 fw-bold">IP Address Geolocation Lookup Tool</h1>

<div style="margin: 0 auto;max-width: 800px;">
    <div class="row mb-4">
        <div class="col-12">

            <div class="d-flex align-items-end justify-content-center">
                <div class="w-50 me-3">
                    <label for="lblIP" class="form-label">Enter any IPv4, IPv6 address:</label>
                    <input type="search" @bind-value="IP" class="form-control rounded-pill" aria-label="Search" id="ipInput" placeholder="Search any IP address">
                </div>
                <!--search for an IP and search for users IP geolocation-->
                <div class="flex-shrink-0">
                    <button class="btn btn-search" type="button" @onclick="getIpGeolocation">Search</button>
                    <button class="btn btn-myip" type="button" @onclick="GetMyIp">My IP</button>  
                </div>
            </div>
        </div>
    </div>
    @if (loadingData)
    {
        <div class="d-flex justify-content-center mb-4">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }

    @if (currentGeolocation != null && invalidIp == false)
    {
        <!--google maps-->
        <iframe width="450"
            height="250"
            frameborder="0" style="border:0"
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAC5GBJ4IfJ5fs8syKOBaGjPVPzDKhR7rI&q=@currentGeolocation.latitude,@currentGeolocation.longitude">
        </iframe>

        <div class="row row-content">
            <div class="col-6">
                IP
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.ip
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                Hostname
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.hostname
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                Continent Code
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.continent_code
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                Continent Name
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.continent_name
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                Country Code (ISO 3166-1 alpha-2)
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.country_code2
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                Country Code (ISO 3166-1 alpha-3)
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.country_code3
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                Country Name
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.country_name
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                Country Flag
            </div>
            <div class="col-6 ps-4">
                <img class="country__flag" src="@currentGeolocation.country_flag" alt="country__flag">
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                Country Capital
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.country_capital
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                State/Province
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.state_prov
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                District/County
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.district
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                City
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.city
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                Zip Code
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.zipcode
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                Latitude & Longitude of City
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.latitude, @currentGeolocation.longitude
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                Geoname ID
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.geoname_id
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                Calling Code
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.calling_code
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                Country Top Level Domain
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.country_tld
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                In the EU?
            </div>
            <div class="col-6 ps-4">
               @currentGeolocation.is_eu
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                Languages
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.languages
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                ISP
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.isp
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                Organization
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.organization
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                AS Number
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.asn
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                Currency
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.currency?.name
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                Currency Code
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.currency?.code
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                Currency Symbol
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.currency?.symbol
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                Timezone
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.time_zone?.name
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                Timezone Offset
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.time_zone?.offset
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                Current Time
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.time_zone?.current_time
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                Current Time Unix
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.time_zone?.current_time_unix
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                Is Daylight Savings Time?
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.time_zone?.is_dst
            </div>
        </div>
        <div class="row row-content">
            <div class="col-6">
                DST Savings
            </div>
            <div class="col-6 ps-4">
                @currentGeolocation.time_zone?.dst_savings
            </div>
        </div>
    }
    @*validation, the API returns error on invalid input*@
    @if (invalidIp)
    {
        <div class=" shadow p-3 mb-5 rounded">
            <div class="card-body text-center text-danger" style="font-size:20px;">
                Provided IP address '@InvalidIP' is not valid.
            </div>
        </div>
    }
</div>


@code {
    public string? IP { get; set; } = "";
    public string? InvalidIP { get; set; } = ""; //invalid variable
    public Geolocation? currentGeolocation { get; set; } //lat/long variable
    private bool invalidIp = false;  //bool for invalid IP address
    private bool loadingData = false;  //check for loading data

    //search 
    private async Task getIpGeolocation()
    {
        loadingData = true;
        //send an http get and get information about IP
        var response = await http.GetAsync($"https://api.ipgeolocation.io/ipgeo?apiKey=446e433e35324ff6ba694bea7abafd71&ip={IP}");
        if (response.IsSuccessStatusCode)
        {
            invalidIp = false;
            currentGeolocation = await response.Content.ReadFromJsonAsync<Geolocation>();
            if (string.IsNullOrEmpty(IP))
            {
                IP = currentGeolocation?.ip;
            }
        }
        else
        {
            InvalidIP = IP;
            invalidIp = true;
        }
        loadingData = false;
    }
    
    //loads users IP when launched
    protected override async Task OnInitializedAsync()
    {
        loadingData = true;
        // 'getIpAddress' js function in index.html to get user IP
        var ipAddress = await jsRuntime.InvokeAsync<string>("getIpAddress")
            .ConfigureAwait(true);
        IP = ipAddress;
        var response = await http.GetAsync($"https://api.ipgeolocation.io/ipgeo?apiKey=446e433e35324ff6ba694bea7abafd71&ip={IP}");
        if (response.IsSuccessStatusCode)
        {
            invalidIp = false;
            currentGeolocation = await response.Content.ReadFromJsonAsync<Geolocation>();
        }
        loadingData = false;
    }
    
    // get 
    private async Task GetMyIp()
    {
        loadingData = true;
        var ipAddress = await jsRuntime.InvokeAsync<string>("getIpAddress")
            .ConfigureAwait(true);
        IP = ipAddress;
        await getIpGeolocation();
        loadingData = false;
    }
    
}

